/venv/
/.venv/
env/
.env
#/data/
#/saved_models/
#.ipynb_checkpoints/
/.vscode/
/.idea/
/logs/
/runs/
__pycache__/
*.py[codz]
*$py.class
*.so
build/
dist/
*.egg-info/
*.egg
wheels/
.pytest_cache/
.coverage
htmlcov/